/* deleted ajust-bar */
/* deleted button */
/* deleted .content */
/* deleted devices */
/* filter deleted */

/* deleted footer */

/* knob deleted */
/* link, logo deleted */
/* main deleted */
/* menu dleeted */
/* modal deleted */
/* deleted * */
/* page deleted */
/* paginator deleted */
/* panel deleted */
/* scenarios deleted */
/* weather deleted */
/* boots */
/* html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
} */
